@import "../../../../node_modules/materialize-css/sass//ghpages-materialize";

body {
  background-color: #83e2c4;
}

.login, .button-login, .button-forgot-pass {
  text-align: center;
}
.ctn-login {
  padding-top: 50px;
}
.offer {
  margin-bottom: 10px;
}
.offer-header{
  text-align: center;
  background-color: #ff764d;
}
.offer-body{
  background-color: #fff;
}
.offer-footer{
  text-align: center;
  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}
