@import "../../../../node_modules/materialize-css/sass//ghpages-materialize";

body {
  background-color: #83e2c4;
}
.row{
  margin-bottom: 0px!important;
}

.btn, .btn-flat {
 box-shadow: none;
 width: 100%;
 margin: 5px 0 5px 0;
 &:hover {
   box-shadow: none;
 }
}

.login, .button-login, .button-forgot-pass {
  text-align: center;
}
.ctn-login {
  padding-top: 50px;
}
.offer {
  margin-top: 10px;
  margin-bottom: 10px;
}
.offer-header {
  text-align: center;
  background-color: #ff9373;
  padding: 20px 0 20px 0;
}
.offer-body {
  background-color: #fff;
  padding: 20px 20px 0px 20px;
}

.offer-footer {
  text-align: center;
  background-color: #fff;
  padding: 20px 15px 20px 15px;
}
.offer-title {
  color: #fff;
}
.offer-jobCategory {
  color: #37474f;
  font-size: 12px;
}
.offer-earnTotal {
  color: #37474f;
  font-weight: 100;
  margin: 0;
}
.offer-earnHourly {
  color: #37474f;
}
.offer-dateTime {
  color: #acacac;
  font-weight: 300;
  padding-top: 15px;
}
.offer-dateTime-value {
  color: #37474f;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 0 20px 0;
}
.offer-location {
  color: #37474f;
}
